<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<body>

<!-- The navbar -->
<div class="container-fluid" th:fragment="theNavbar">
    <!-- Navbar Start -->
    <div class="container-fluid bg-white sticky-top">
        <nav class="navbar navbar-expand-lg bg-success navbar-light py-2 py-lg-0">
            <a th:href="@{/index}" class="navbar-brand">
                <img class="img-fluid" th:src="@{/images/logo.png}" alt="Logo">
            </a>
            <button type="button" class="navbar-toggler ms-auto me-0" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <!-- User is logged out -->
                    <a th:href="@{/registrationpage}" class="nav-item nav-link"
                       sec:authorize="isAnonymous()">Register!</a>


                    <!-- Common links -->
                    <a th:href="@{/calendars}" class="nav-item nav-link">Calendars</a>
                    <a th:href="@{/plantidata}" class="nav-item nav-link">PlantiData</a>

                    <!-- Login/Logout -->
                    <a th:href="@{/login}" class="nav-item nav-link" sec:authorize="isAnonymous()">Sign in</a>
                    <a th:href="@{/profile}" class="nav-item nav-link" sec:authorize="isAuthenticated()">Profile</a>
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
</div>
</body>
</html>