/* Site-Wide / General Styling */
/* Background image */
body {
    background-image: url('/images/background.jpg');
    background-size: cover;   /* Cover the entire viewport */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

    /* Site-wide font */
    font-family: 'Georgia', serif;
}

@media (max-width: 600px) {
    body {
        background-image: url('/images/background-small.jpg');
    }
}

h1, h2, h3 {
    font-weight: bold;
}

/* Card headers colours override*/
.card-header {
    background-color: #E8F4EA !important;
        /* Triadic partnerings #eae8f4 , #F4EAE8  https://www.color-hex.com/color/e8f4ea */
}

/* Override button colours*/
/* Using slightly off theme colour due to the three main ones being too light */
.btn-primary {
    font-color: black !important;
    background-color: #E0DFEF !important;
    border-color: #E0DFEF !important;

}


/* Set overlay for easier reading of content due to background images */
body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    pointer-events: none;
    z-index: -99;
}

/* Anchor pointer */
a {
    cursor: pointer;
}
/* Darken  items on Hover*/
.a,
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.nav-item:hover .nav-link {
    filter: brightness(0.1);
    transition: filter 0.3s;
}


/* Navbar */
.larger-font{
    font-size: 1.25rem;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Headings */
h1, h2, h3 {
    text-align: center;
}

/* List Items */
li {
   margin-top: 5px;
   margin-bottom: 5px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.list-group-item.calendar-title-heading {
    background-color: #E8F4EA;
    /* Triadic partnerings #eae8f4 , #F4EAE8  https://www.color-hex.com/color/e8f4ea */
    color: black;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* Registration Form */
.valid {
    color: green;
}

.invalid {
    color: red;
}

/* Profile Picture Styling */
.profilepagepicture {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.profilepagepicture img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: block;
}

/* Center buttons and form inputs */
.btn, .form-control, textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-button{
    margin: 10px auto;
    display: block;
}

/* Profile sections */
#profilePicInput,
#profileCaptionInput,
#locationInput {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    margin-top: 5px;
    padding: 5px 10px;
}

/* Calendar Entry */
.error-message {
    color: red;
    display: none;
    font-size: 12px;
}

#harvestedDiv {
    display: none;
}
