/* Site-Wide / General Styling */
body {
    background-image: url('/images/background.jpg');
    background-size: cover;   /* Cover the entire viewport */
    background-repeat: no-repeat; /* This will prevent the image from repeating in case it's too small for the container */
    background-position: center center; /* This will center the image */
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Headings */
h1, h2, h3 {
    text-align: center;
}

/* List Items */
li {
   text-align: center;
   margin-top: 5px;
   margin-bottom: 5px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* Registration Form */
.valid {
    color: green;
}

.invalid {
    color: red;
}

/* Profile Picture Styling */
.profilepagepicture {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.profilepagepicture img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: block;
}

/* Center buttons and form inputs */
.btn, .form-control, textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-button{
    margin: 10px auto;
    display: block;
}

/* Profile sections */
#profilePicInput,
#profileCaptionInput,
#locationInput {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button {
    margin-top: 5px;
    padding: 5px 10px;
}

/* Calendar Entry */
.error-message {
    color: red;
    display: none;
    font-size: 12px;
}

#harvestedDiv {
    display: none;
}
