.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {

    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

/* Forms */

/* Registration Form */
.valid {
    color: green;
}

.invalid {
    color: red;
}

/* Profile */
#profilePic {
    width: 30%;  /* Will need to play with these some more
    height: 100px;*/
    object-fit: cover;  /* maintain ratio */
}

/* Variety */

/*Variety container on */
.variety-container {
    display: flex;
    align-items: center;
}


/* Calendar Entry */
.error-message {
    color: red;
    display: none;
    font-size: 12px;
}

#harvestedDiv {
    display: none;
}