<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/thehead :: thehead}"></head>
<body>
<!-- Navbar -->
<div th:replace="~{fragments/theNavbar :: theNavbar}"></div>

<!-- Form -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-3">Create Calendar</h1>
            <form id="combinedForm" class="mt-4">

                <div class="mb-3">
                    <label for="title" class="form-label">Calendar Name</label>
                    <input type="text" id="title" class="form-control" placeholder="Calendar Name"/>
                </div>

                <!-- Select general plant type -->
                <div class="mb-3">
                    <label for="plantId" class="form-label">Plant</label>
                    <select id="plantId">
                        <!-- List of base plants like potato, carrot, etc populated by JS-->
                    </select>
                </div>

                <div class="mb-3" id="varietyDiv">
                    <label class="form-label">Select or add your Variety</label>
                    <fieldset id="varietyRadio">
                        <legend>Select an existing variety</legend>
                        <!-- Varieties populated by JS with a radio button for each -->
                    </fieldset>
                    <div id="newVarietyDiv" style="display:none">
                        <input type="text" id="newVarietyName" class="form-control" placeholder="New Variety Name"
                               aria-describedby="informationBox"/>
                        <textarea id="newVarietyDescription" class="form-control"
                                  placeholder="New Variety Description" aria-describedby="informationBox"></textarea>
                    </div>
                    <div>
                        <input type="checkbox" id="newVarietyCheckbox"/>
                        <label for="newVarietyCheckbox">Add a New Variety</label>
                    </div>
                </div>
                <input type="hidden" id="varietyIdHidden" name="varietyIdHidden" value="">


                <!-- Information -->
                <div id="informationBox" role="alert">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" id="combinedSubmit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{fragments/thefooter :: thefooter}"></div>

<!-- JS -->
<script th:src="@{/scripts/calendar_creator.js}"></script>

</body>
</html>
