<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/thehead :: thehead}"></head>
<body>
<!-- Navbar -->
<div th:replace="~{fragments/theNavbar :: theNavbar}"></div>

<!-- Form -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-3">Variety Details</h1>
            <form id="firstEntryForm" class="mt-4">

                <!-- Select or add a new variety -->
                <div class="mb-3" id="varietyDiv">
                    <label class="form-label">Variety</label>
                    <div>
                        <input type="checkbox" id="newVarietyCheckbox"/>
                        <label for="newVarietyCheckbox">Add a New Variety</label>
                    </div>
                    <fieldset id="varietyRadio">
                        <legend>Select an existing variety</legend>
                        <!-- Varieties populated by JS with a radio button for each -->
                    </fieldset>
                    <div id="newVarietyDiv" style="display:none">
                        <input type="text" id="newVarietyName" class="form-control" placeholder="New Variety Name"
                               aria-describedby="informationBox"/>
                        <textarea id="newVarietyDescription" class="form-control"
                                  placeholder="New Variety Description" aria-describedby="informationBox"></textarea>
                    </div>
                </div>

                <!-- Information -->
                <div id="informationBox" role="alert">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" id="entrySubmit" class="btn btn-primary">Create Calendar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Footer -->
<div th:replace="~{fragments/thefooter :: thefooter}"></div>
<script th:src="@{/scripts/first_calendar_entry.js}"></script>
</body>
</html>
