<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/thehead :: thehead}"></head>
<body>
<!-- Navbar -->
<div th:replace="~{fragments/theNavbar :: theNavbar}"></div>

<!-- Form -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h1 class="mt-3">Your Plant Variety details</h1>
            <form id="firstEntryForm" class="mt-4">

                <!-- Select or add a new variety -->
                <div class="mb-3" id="varietyDiv">
                    <label class="form-label">Variety</label>
                    <div id="varietyRadio">
                        <!-- Varieties populated by JS with a radio button for each -->
                        <!-- Also a checkbox for adding a new variety -->
                    </div>
                    <div id="newVarietyDiv" style="display:none">
                        <input type="text" id="newVarietyName" class="form-control" placeholder="New Variety Name"/>
                        <textarea id="newVarietyDescription" class="form-control"
                                  placeholder="New Variety Description"></textarea>
                    </div>
                </div>

                <!-- Information -->
                <div id="informationBox">
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" id="entrySubmit" class="btn btn-primary">Create Entry</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Footer -->
<div th:replace="~{fragments/thefooter :: thefooter}"></div>
</body>
</html>
