<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/thehead :: thehead}"></head>
<body>
<!-- Navbar -->
<div th:replace="~{fragments/theNavbar :: theNavbar}"></div>
<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col text-center">
            <h1>Planti Dati</h1>
            <p>Outstanding in our field</p>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="text-center">
        <h2>Why Planti Dati?</h2>
    </div>
    <div class="col-md-4">
        <!--Will need to take a picture of the calendar -->
        <!--        <img src="" alt="Personalized Calendar" class="img-fluid">-->
        <h4>Personalized Calendar</h4>
        <p>Track your planting schedule, growth progress, and harvest time.</p>
    </div>
    <div class="col-md-4">
        <img src="@{/images/growth.jpg}" alt="Growth Insights" class="img-fluid">
        <h4>Growth Insights</h4>
        <p>Gain insights on optimal growing conditions for different vegetables.</p>
    </div>
    <div class="row mt-5">

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Welcome! </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Sign Up</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sign In</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/thefooter :: thefooter}"></div>
</body>
</html>
