<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments :: thehead}"></head>
<body>
<!-- Navbar -->
<div th:replace="~{fragments :: theNavbar}"></div>
<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="row">
        <div class="col text-center">
            <h1>Planti Dati</h1>
            <p>Our Soil, Your Salad</p>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>This is the modal content.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Sign Up</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sign In</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments :: thefooter}"></div>
</body>
</html>
