<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/thehead :: thehead}"></head>
<body>
<!-- Navbar -->
<div th:replace="~{fragments/theNavbar :: theNavbar}"></div>
<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="row mt-5">
        <div class="col text-center">
            <h1>Planti Dati</h1>
            <p>Outstanding in our field</p>
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="text-center">
        <h2>Why Planti Dati?</h2>
    </div>
</div>
<!-- Personalized Calendar -->
<div class="row mt-5">
    <div class="col-12 col-md-6 text-center mt-2">
        <img src="" alt="Personalized Calendar" class="img-fluid index-img">
    </div>
    <div class="col-12 col-md-6 text-center mt-2">
        <h4>Personalized Calendar</h4>
        <p>Track your planting schedule, growth progress, and harvest time.</p>
    </div>
</div>

<!-- Growth Insights -->
<div class="row mt-5">
    <div class="col-12 col-md-6 text-center mt-2 order-md-2">
        <img th:src="@{/images/growth.jpg}" alt="Growth Insights" class="img-fluid index-img">
    </div>
    <div class="col-12 col-md-6 text-center mt-2 order-md-1">
        <h4>Growth Insights</h4>
        <p>Gain insights on optimal growing conditions for different vegetables.</p>
    </div>
</div>

<!-- Sustainability -->
<div class="row mt-5">
    <div class="col-12 col-md-6 text-center mt-2">
        <img th:src="@{/images/sustainability.jpg}" alt="Sustainability" class="img-fluid index-img">
    </div>
    <div class="col-12 col-md-6 text-center mt-2">
        <h4>Sustainability</h4>
        <p>Practice and learn about sustainable gardening methods</p>
    </div>
</div>

<!-- Communal Learning -->
<div class="row mt-5">
    <div class="col-12 col-md-6 text-center mt-2 order-md-2">
        <img th:src="@{/images/communal-learning.jpg}" alt="Communal Learning" class="img-fluid index-img">
    </div>
    <div class="col-12 col-md-6 text-center mt-2 order-md-1">
        <h4>Communal Learning</h4>
        <p>Connect with a community passionate about growing healthy vegetables and sharing knowledge.</p>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel">Modal Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Welcome! </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Sign Up</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sign In</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/thefooter :: thefooter}"></div>
</body>
</html>
