<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/thehead :: thehead}">
</head>
<body>
<!-- Navbar -->
<div th:replace="~{fragments/theNavbar :: theNavbar}"></div>

<div class="container-fluid">
    <div class="center-content">
        <h1 class="">Welcome, <span id="username"></span>!</h1>

        <div class="row mt-4 profileopeningrow justify-content-center">

            <!-- Profile Picture Section -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h2>Profile Picture</h2>
                    </div>
                    <div class="card-body text-center">
                        <div class="profilepagepicture">
                            <img alt="Profile Picture" id="profilePic"/>
                        </div>
                        <button type="button" class="btn btn-primary mt-2" id="changePic">Edit</button>
                        <div id="profilePicInput">
                            <input class="form-control mt-2" type="file">
                            <button type="submit" class="btn btn-primary mt-2 center-button" id="submitPic">Update
                                Picture
                            </button>
                        </div>
                        <div id="picResult"></div>
                    </div>
                </div>
            </div>

            <!-- Profile Caption Section -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h2>Profile Caption</h2>
                    </div>
                    <div class="card-body text-center">
                        <p id="profileCaption"></p>
                        <button type="button" class="btn btn-primary mt-2" id="changeCaption">Edit</button>
                        <div id="profileCaptionInput">
                            <textarea class="form-control mt-2"></textarea>
                            <button type="submit" class="btn btn-primary mt-2 center-button" id="submitCaption">Update
                                Caption
                            </button>
                        </div>
                        <div id="captionResult"></div>
                    </div>
                </div>
            </div>

            <!-- Location Section -->
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h2>Location</h2>
                    </div>
                    <div class="card-body text-center">
                        <p id="locationText"></p>
                        <button type="button" class="btn btn-primary mt-2 center-button" id="changeLocation">Edit
                        </button>
                        <div id="locationInput">
                            <input class="form-control mt-2" type="text">
                            <button type="submit" class="btn btn-primary mt-2 center-button" id="submitLocation">Update
                                Location
                            </button>
                        </div>
                        <div id="locationResult"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Todo - figure out better system for change password -->


    <!-- Calendars-->
    <h2 class="mt-5">Your Calendars</h2>
    <a th:href="@{calendarCreate}">Create new Calendar?</a>
    <!-- Let Javascript display the calendars-->
    <div id="calendarsContainer"></div>

</div>

<!-- Footer -->
<div th:replace="~{fragments/thefooter :: thefooter}"></div>
<script src="/scripts/get_profile.js"></script>
<script src="/scripts/profile_manager.js"></script>

</body>
</html>
